.Header {
  position: relative;
  display: flex;
  background: red;
  min-width: 100%;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(72, 17, 115, 1) 0%,
    rgba(253, 29, 29, 1) 71%,
    rgba(252, 176, 69, 1) 100%
  );
  .Header-Top {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    .Header-Top-Logo {
    }
    .Header-Top-Search {
      width: 100%;
      font-size: 18px;
      line-height: 24px;
    }
    .Header-Top-UserMenu {
      display: flex;
      .Header-Top-UserMenu-Item {
        color: #fff;
        font-size: 2rem;
      }
    }
  }
  .Header-Bottom {
    display: flex;
    flex-wrap: wrap;
  }
}
