@import "../../variables";
.Header {
  position: relative;
  min-width: 100%;
  overflow: hidden;
  width: 100%;
  background: linear-gradient(
    90deg,
    $header-first-color 0%,
    $header-second-color 71%,
    $header-third-color 100%
  );
  color: #fff;
  .Header-Top {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    .Header-Top-Logo {
    }
    .Header-Top-Search {
      width: 100%;
      font-size: 18px;
      line-height: 24px;
    }
    .Header-Top-UserMenu {
      display: flex;
      .Header-Top-UserMenu-Item {
        color: inherit;
        margin-left: 30px;
        .Header-Top-UserMenu-Item-Icon {
          display: block;
          text-align: center;
          font-size: 25px;
        }
        .Header-Top-UserMenu-Item-Title {
          font-size: 16px;
          padding-top: 5px;
          font-weight: 900;
        }
      }
    }
  }
  .Header-Bottom {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    .Header-Bottom-NavElem {
      text-transform: uppercase;
      color: inherit;
      font-weight: 600;
      font-size: 18px;
      line-height: 20px;
      position: relative;
      display: block;
      margin-right: 20px;
      margin-bottom: 10px;
      text-decoration: none;
    }
  }
}
