@import "../../variables";
.Page {
  display: flex;
  flex-flow: column;
  .Page-Header {
    flex: 0;
  }
  .Page-Main {
    position: sticky;
    background: #fff;
    z-index: 1;
    min-height: 1000px;
    flex: 1;
    &::before {
      content: "";
      position: absolute;
      top: -11px;
      height: 12px;
      width: 100%;
      background-color: #fff;
      border-radius: 12px 12px 0 0;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -11px;
      height: 12px;
      width: 100%;
      background-color: #fff;
      border-radius: 0 0 12px 12px;
    }
  }
  .Page-Footer {
    position: sticky;
    padding-top: 50px;
    flex: 0;
    bottom: 0px;
    min-height: 300px;
    padding: $pageSidePadding;
  }
}
