.Button_type_filter {
  padding: 0.5em 0.6em;
  letter-spacing: 0.1em;
  text-align: left;
  border: none;
  box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.22);
  border-radius: 0.15em;
  background: inherit;
  color: inherit;
  font-size: inherit;
}
